div img{
    width: 170px;
    margin-left: 230px;
}
body{
    width: 630px;
    margin: auto;
    background-color: rgb(151, 170, 164);
}
.hahyu{
    text-align: center;
}
.saya{
    background-color: rgb(252, 252, 251);
    margin-top: 300px;
}