header{
    position: absolute;
    top: 0%;
    left: 0;
    width: 90%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    background: url(../persentase/1349488.jpeg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
header .code{
    color: black;
    text-decoration: none;
    font-weight: 20px;
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 0mm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header nav a{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 30px;
    border-radius: 30px;
    font-style: oblique;
    font-size: 25px;
}
header nav a.active,
header nav a:hover{
    background: rgb(31, 80, 213);
}
.lalu{
    position: absolute;
    top: 40%;
    width: 60%;
    left: 20%;
    transform: translate(-50% -50%);
    text-align: center;
}
.lalu h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 800;
}
.lalu h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 300;
    background-color: rgba(64, 234, 234, 0.288);
}
.bawah img{
    margin-top: 760px;
    border-radius: 400px;
    width: 180px;
    margin-left: 80px;
    left: 1%;
    float: left;
    position: relative;
    display: inline;

}
.bawah p{
    margin-top: 950px;
    width: 30px;
    float: left;
    font-size: 40px;
    right: 130px;
    position: relative;
    font-style: oblique;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}    